body {
    background-color: #010101;
    color: white;
    /* padding: 10px 20px; */
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 40px;
}

h3 {
    font-weight: 400;
    font-size: 19px;
}

.cards-container {
    position: relative;
}

.circle-image {
    position: absolute;
}

.second-page-center img {
    height: 1.9em;
}

.circle-image:nth-child(1) {
    top: -40%;
    left: 68%;
    transform: translateX(-50%);
}

.circle-image:nth-child(2) {
    top: -19%;
    left: 77%;
    transform: translateY(-50%);
}

.circle-image:nth-child(3) {
    top: 32%;
    right: 1%;
    transform: translateX(-50%);
}

.circle-image:nth-child(4) {
    top: 40%;
    right: 10%;
    transform: translateY(-50%);
}

.circle-image:nth-child(5) {
    top: 48%;
    right: 18%;
    transform: translateY(-50%);
}

.circle-image:nth-child(6) {
    top: -50%;
    left: 16%;
    transform: translateY(-50%);
}

.circle-image:nth-child(7) {
    top: 12%;
    left: 0%;
    transform: translateY(-50%);
}

.circle-image:nth-child(8) {
    top: 30%;
    left: 0%;
    transform: translateY(-50%);
}

.circle-image:nth-child(9) {
    top: 47%;
    left: 16%;
    transform: translateY(-50%);
}

.circle-image:nth-child(10) {
    top: 68%;
    left: 17%;
    transform: translateY(-50%);
}


.second-page-center {
    /* height: 100vh;
    background-image: url("/mesh2.png");
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* margin-bottom: 30em; */
    gap: 1em;
}


.feature-heading {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em auto 2em;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature {
    height: 440px;
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.feature-2 {
    margin-left: 28em;
}

.feature-1 {
    margin-right: 25.6em;
}

.feature .img-container {
    margin: auto 1em;
}

.feature .img-container img {
    display: flex;
    width: 376px;
    height: 773px;
}

.details {
    width: 400px;
}

.detail-text {
    opacity: 50%;
    font-size: 14px;
}

.question-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6em 3em;
}

.question-section .left-side {
    width: 430px;
}

.feature-images-container {
    width: 100%;
    height: 100vh;
    background-image: url("/image_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waitlist-container {
    height: 500px;
    background-image: url("/mesh3.png");
    display: flex;
    align-items: end;
    margin: 70px 0 5em 0;
    padding: 0 0 0 3em;
}

.waitlist-container img {
    height: 450px;
}

.waitlist-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20em;
}

.waitlist-form form input,
select {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(157, 157, 157);
    padding: 10px 10px 10px 0;
}

.waitlist-form form select {
    color: white;
    opacity: 90%;
}

.footer {
    margin: 1em 2em;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.right-side-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px 1em;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #f39c12;
    /* Change to your desired hover color */
}