.question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    border-bottom: 1px solid rgb(177, 177, 177);
    margin-bottom: 15px;
}

p {
    padding: 2px;
    margin: 2px;
}

.scroll-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.scroll-icon {
    position: relative;
    width: 1.1em;
    height: 1.8em;
    border-radius: 2em;
    border: .1em solid white;
    opacity: 50%;
    margin: auto;
}

.wheel {
    position: absolute;
    height: .4em;
    width: .1em;
    background-color: rgb(224, 224, 224);
    top: 7px;
    left: 8px;
    border-radius: 50%;
}

.button-container {
    height: 35px;
    width: 120px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 4px rgb(180, 180, 180);
    margin: 30px 0;
}

.button-container button {
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
}

.image-overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 360px;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, #BABABA00, #BABABA66);
    border-radius: 32px;
    border: 1px solid rgb(207, 207, 207);
    margin-right: 10px;
}

.overlay-parent-container{
    display: flex;
    align-items: center;
}